.container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-areas: "dialogs messages ";
}

.dialogs{
    grid-area: dialogs;
    margin-left: 10px;
}

.messages {
    grid-area: messages;
    margin-left: 10px;
}

.item {
    text-decoration: none;
    color: azure;
}

.active {
    color: dimgray;
}