.menu {
    text-align: center;
    grid-area: menu;
    background: lightblue;
    padding: 20px;
}

.contents {
    font-size: large;
    color: black;
}

.item {
    text-decoration: none;
    color: azure;
}

.active {
    color: dimgray;
}