.main{
    padding: 10px;
}

.img {
    width: 100px;
    height: 100px;
}

.wrapper {
    padding: 10px;
}

.activePage {
    color: orangered;
    font-weight: bold;
    font-size: large;
}

.loader{
    display: block;
    margin-left: auto;
    margin-right: auto;
}